.pagination_button {
    display: inline;  

    button {
        width: 35px;
        height: 35px;
        font-family: inherit;
        font-weight: 600;
        font-size: 16px;
        margin: 0 10px;
        margin-top: 20px;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: transparent;
        color: #000000;
        border-color: #ca4f4f;
    }
    button.active {
        font-weight: 900;
        border-color: #101010;
        background: #ffe400;
        color: #101010;
    }
}


